<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
   <!-- Syntax highlighting via Prism, note: restricted langs -->
<link rel="stylesheet" href="/libs/highlight/github.min.css">
   
  <link rel="stylesheet" href="/css/jtd.css">
  <link rel="icon" href="/assets/infra/logoF_square.gif">
   <title>Templates</title>  

  <!-- LUNR -->
  <script src="/libs/lunr/lunr.min.js"></script>
  <script src="/libs/lunr/lunr_index.js"></script>
  <script src="/libs/lunr/lunrclient.min.js"></script>

  <!-- PLOTLY -->
  

</head>
<body>                      <!-- closed in foot.html -->
  <div class="page-wrap">   <!-- closed in foot.html -->
    <!-- SIDE BAR -->
    <div class="side-bar">
      <div class="header">
        <a href="/" class="title">
          <img style="height:60px;" src="/assets/infra/franklin.svg" alt="franklin" />
          <style>
          @media (max-width: 31.25rem){
            .side-bar .show-menu {height:30px;}
          }
          @media (max-width: 50rem) {
            .side-bar .header .title {padding-top:0; padding-bottom: 0;}
            .header .title img {height:60px; max-width: 100px !important;}
          }
          @media (min-width: 66.5rem){
            .header .title img {max-width: 140px !important;}
          }
          </style>
        </a>
      </div>
      <label for="show-menu" class="show-menu">MENU</label>
      <input type="checkbox" id="show-menu" role="button">
      <div class="menu" id="side-menu">
        <ul class="menu-list">
          <!-- HOME -->
          <li class="menu-list-item "><a href="/" class="menu-list-link">• Home</a>
          <!-- WORKFLOW -->
		  <li class="menu-list-parent "><a href="/workflow/" class="menu-list-link">• Workflow</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item "><a href="/workflow/" class="menu-list-link">Create and edit</a>
				<li class="menu-list-item "><a href="/workflow/structure/" class="menu-list-link">Page structure</a>
				<li class="menu-list-item "><a href="/workflow/deploy/" class="menu-list-link">Deploy</a>
				<li class="menu-list-item "><a href="/workflow/sitemap-rss/" class="menu-list-link">Sitemap and RSS</a>
			  </ul>
          <!-- SYNTAX -->
          <!-- NOTE: if adding a menu item, add ref to first item! -->
          <li class="menu-list-parent "><a href="/syntax/markdown/" class="menu-list-link">• Syntax</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item "><a href="/syntax/markdown/" class="menu-list-link">Markdown</a>
              <li class="menu-list-item "><a href="/syntax/divs-commands/" class="menu-list-link">Divs and Commands</a>
              <li class="menu-list-item "><a href="/syntax/page-variables/" class="menu-list-link">Page Variables</a>
							<li class="menu-list-item "><a href="/syntax/rss/" class="menu-list-link">RSS</a>
			  <li class="menu-list-item "><a href="/syntax/utils/" class="menu-list-link">Utils</a>
            </ul>
		  <!-- STYLING -->
          <li class="menu-list-parent active"><a href="/styling/templates/" class="menu-list-link">• Styling</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item active"><a href="/styling/templates/" class="menu-list-link">Templates</a>
              <li class="menu-list-item "><a href="/styling/classes/" class="menu-list-link">Classes</a>
            </ul>
          <!-- CODE -->
          <li class="menu-list-parent "><a href="/code/" class="menu-list-link">• Code</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item "><a href="/code/" class="menu-list-link">Inserting code</a>
              <li class="menu-list-item "><a href="/code/eval-tricks/" class="menu-list-link">Code tricks</a>
              <li class="menu-list-item "><a href="/code/literate/" class="menu-list-link">Literate.jl</a>
            </ul>
		  <!-- EXTRAs -->
		  <li class="menu-list-parent "><a href="/extras/" class="menu-list-link">• Extras</a>
			  <ul class="menu-list-child-list ">
				<li class="menu-list-item "><a href="/extras/" class="menu-list-link">Overview</a>
				<li class="menu-list-item "><a href="/extras/lunr/" class="menu-list-link">Search with Lunr</a>
                <li class="menu-list-item "><a href="/extras/utterances/" class="menu-list-link">Comments with Utterances</a>
				<li class="menu-list-item "><a href="/extras/literate/" class="menu-list-link">Literate</a>
				<li class="menu-list-item "><a href="/extras/plotly/" class="menu-list-link">Plotly</a>
			  </ul>
          <!-- FAQ -->
          <li class="menu-list-parent "><a href="/faq/technical/" class="menu-list-link">• FAQ</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item "><a href="/faq/technical/" class="menu-list-link">Technical</a>
			  <li class="menu-list-item "><a href="/faq/troubleshooting/" class="menu-list-link">Troubleshooting</a>
              <li class="menu-list-item "><a href="/faq/why-o-why/" class="menu-list-link">Meta</a>
            </ul>
        </ul>
			<form id="lunrSearchForm" name="lunrSearchForm">
				<input class="search-input" name="q" placeholder="Enter search term" type="text"> <input type="submit" value="Search" formaction="/search/index.html">
			</form>
      </div>
      <div class="footer">
        <a href="/faq/why-o-why/"><img style="width:40%;padding-left:10px;margin-bottom:15px;" src="/assets/infra/logoF2.svg" alt="Franklin Logo" /></a>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="main-content-wrap"> <!-- closed in foot.html -->
      <div class="main-content" id="focus" tabindex="-1" style="outline:0;">    <!-- closed in foot.html -->
        <div class="main-header">
          <a name="pagetop"></a>

          <a id="github" href="https://github.com/tlienart/Franklin.jl/blob/master/docs/styling/templates.md">Page source</a>
		  <span style="width:30px; text-align: center;color:lightgray;">|</span>
		  <a id="github" href="https://github.com/tlienart/Franklin.jl">GitHub Repository</a>
        </div>

<!-- Content appended here (in class franklin-content) -->
<div class="franklin-content"><h1 id="templates"><a href="#templates" class="header-anchor">Templates</a></h1>

    <span style="font-size:24px;font-weight:300;">Start from one of the templates or build your own.</span>
    
<div class="blank"></div>
<div class="franklin-toc"><ol><li><a href="#adapting_a_theme_to_franklin">Adapting a theme to Franklin</a><ol><li><a href="#getting_started">Getting started</a></li><li><a href="#adapting_the_head_and_foot">Adapting the head and foot</a></li><li><a href="#adapting_the_stylesheet">Adapting the stylesheet</a></li><li><a href="#adjusting_other_files">Adjusting other files</a></li></ol></li><li><a href="#making_a_pr_to_the_theme_repo">Making a PR to the theme repo</a></li></ol></div>
<div class="blank"></div>
<p>The pre-defined templates that are currently available in Franklin with the <code>newsite</code> function can be viewed <a href="https://tlienart.github.io/FranklinTemplates.jl/" target="_blank" rel="noopener noreferrer">here</a> &#40;<em>opens in a new tab</em>&#41;.</p>
<h2 id="adapting_a_theme_to_franklin"><a href="#adapting_a_theme_to_franklin" class="header-anchor">Adapting a theme to Franklin</a></h2>
<div class="note"><div class="title">⚠ Note</div>
<div class="content">If you end up doing this, please consider making a PR to <a href="https://github.com/tlienart/FranklinTemplates.jl">FranklinTemplates</a>&#33;</div></div>
<p>On this page, I&#39;ll take <a href="http://jemdoc.jaboc.net/">Jemdoc&#39;s website layout</a> and show how it can be adapted to be a working Franklin template. This will hopefully also show you how to adapt/modify an existing template.</p>
<p>Jemdoc&#39;s layout looks like this:</p>
<p><img src="/assets/jemdoc/jemdoc1.png" alt="" /></p>
<h3 id="getting_started"><a href="#getting_started" class="header-anchor">Getting started</a></h3>
<p>In order to get a blueprint for the folder etc, let&#39;s first create a Franklin site with the <code>basic</code> template:</p>
<pre><code class="language-julia-repl">julia&gt; newsite&#40;&quot;jemdoc&quot;, template&#61;&quot;basic&quot;&#41;</code></pre>
<p>You can serve the site in order to see the modifications directly in your browser which can be useful to fine-tune the port of the layout.</p>
<p>We will need to provide the appropriate stylesheet in <code>_css/</code> and adjust the layout part in <code>_layout/</code>.</p>
<h3 id="adapting_the_head_and_foot"><a href="#adapting_the_head_and_foot" class="header-anchor">Adapting the head and foot</a></h3>
<p>The file <code>_layout/head.html</code> is the most important one you will have to adjust.</p>
<p>Let us first change the name of the main stylesheet <code>_css/basic.css</code> to <code>_css/jemdoc.css</code> which is more appropriate. The reference to the stylesheet in <code>head.html</code> consequently has to be changed to mention <code>jemdoc.css</code> instead of <code>basic.css</code>:</p>
<pre><code class="language-html">&lt;link rel&#61;&quot;stylesheet&quot; href&#61;&quot;/css/jemdoc.css&quot;&gt;</code></pre>
<p>The following step is fairly simple:</p>
<div class="tlist"><ol>
<li><p>look at the original html code,</p>
</li>
<li><p>copy whatever is relevant that comes before the content into <code>head.html</code>.</p>
</li>
</ol></div>
<p>Let&#39;s do this gradually. The top of the original HTML can be ignored at this point so we can start modifying starting after <code>&lt;/head&gt;</code>.</p>
<p>Jemdoc&#39;s body starts with a Google Analytics script which I&#39;ll ignore as well. We then have effectively one big table element. Stripped from its content and simplified it looks like this:</p>
<pre><code class="language-html">&lt;table id&#61;&quot;tlayout&quot;&gt;
  &lt;tr valign&#61;&quot;top&quot;&gt;
    &lt;td id&#61;&quot;layout-menu&quot;&gt;
      &lt;div class&#61;&quot;menu-category&quot;&gt;jemdoc&lt;/div&gt;
      &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/&quot; class&#61;&quot;current&quot;&gt;home&lt;/a&gt;&lt;/div&gt;
    &lt;div class&#61;&quot;menu-category&quot;&gt;topics&lt;/div&gt;
      &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/menu1/&quot;&gt;Menu 1&lt;/a&gt;&lt;/div&gt;
      &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/menu2/&quot;&gt;Menu 2&lt;/a&gt;&lt;/div&gt;
      &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/menu3/&quot;&gt;Menu 3&lt;/a&gt;&lt;/div&gt;
    &lt;/td&gt;
    &lt;td id&#61;&quot;layout-content&quot;&gt;
      &lt;p&gt; CONTENT HERE &lt;/p&gt;
      &lt;div id&#61;&quot;footer&quot;&gt;
        &lt;div id&#61;&quot;footer-text&quot;&gt;
          Page generated by &lt;a href&#61;&quot;http://jemdoc.jaboc.net/&quot;&gt;jemdoc&lt;/a&gt;.
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</code></pre>
<p>Note that I&#39;ve already filled in the <code>href&#61;</code> in the links to the sub-menus.</p>
<p>The &quot;<code>CONTENT HERE</code>&quot; part is where what Franklin generates from Markdown will go. Therefore, anything that is <em>after</em> that should go in <code>foot.html</code>; in our current case:</p>
<pre><code class="language-html">&lt;&#33;-- ... --&gt;
      &lt;div id&#61;&quot;footer&quot;&gt;
        &lt;div id&#61;&quot;footer-text&quot;&gt;
          Page generated by &lt;a href&#61;&quot;http://jemdoc.jaboc.net/&quot;&gt;jemdoc&lt;/a&gt;.
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</code></pre>
<p>That&#39;s basically it &#40;though we still have to modify the stylesheet of course&#41;. The <code>head.html</code> should be adapted to:</p>
<pre><code class="language-html">&lt;&#33;doctype html&gt;
&lt;html lang&#61;&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset&#61;&quot;UTF-8&quot;&gt;
  &lt;meta name&#61;&quot;viewport&quot; content&#61;&quot;width&#61;device-width, initial-scale&#61;1&quot;&gt;
  &#123;&#123;if hasmath&#125;&#125; &#123;&#123;insert head_katex.html &#125;&#125;     &#123;&#123;end&#125;&#125;
  &#123;&#123;if hascode&#125;&#125; &#123;&#123;insert head_highlight.html &#125;&#125;   &#123;&#123;end&#125;&#125;
  &lt;link rel&#61;&quot;stylesheet&quot; href&#61;&quot;/css/franklin.css&quot;&gt;
  &lt;link rel&#61;&quot;stylesheet&quot; href&#61;&quot;/css/jemdoc.css&quot;&gt;
  &lt;link rel&#61;&quot;icon&quot; href&#61;&quot;/assets/infra/favicon.png&quot;&gt;
  &#123;&#123;isdef title&#125;&#125; &lt;title&gt;&#123;&#123;fill title&#125;&#125;&lt;/title&gt;  &#123;&#123;end&#125;&#125;
&lt;/head&gt;
&lt;body&gt;
  &lt;table id&#61;&quot;tlayout&quot;&gt;
    &lt;tr valign&#61;&quot;top&quot;&gt;
      &lt;td id&#61;&quot;layout-menu&quot;&gt;
        &lt;div class&#61;&quot;menu-category&quot;&gt;jemdoc&lt;/div&gt;
        &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;index.html&quot; class&#61;&quot;current&quot;&gt;home&lt;/a&gt;&lt;/div&gt;
      &lt;div class&#61;&quot;menu-category&quot;&gt;topics&lt;/div&gt;
        &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/menu1/&quot;&gt;Menu 1&lt;/a&gt;&lt;/div&gt;
        &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/menu2/&quot;&gt;Menu 2&lt;/a&gt;&lt;/div&gt;
        &lt;div class&#61;&quot;menu-item&quot;&gt;&lt;a href&#61;&quot;/menu3/&quot;&gt;Menu 3&lt;/a&gt;&lt;/div&gt;
      &lt;/td&gt;
      &lt;td id&#61;&quot;layout-content&quot;&gt;

&lt;&#33;-- Content appended here --&gt;</code></pre>
<p>and the <code>foot.html</code> should be adapted to:</p>
<pre><code class="language-html">&lt;&#33;-- CONTENT ENDS HERE --&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
    &#123;&#123; if hasmath &#125;&#125;
        &#123;&#123; insert foot_katex.html &#125;&#125;
    &#123;&#123; end &#125;&#125;
    &#123;&#123; if hascode &#125;&#125;
        &#123;&#123; insert foot_highlight.html &#125;&#125;
    &#123;&#123; end &#125;&#125;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
<h3 id="adapting_the_stylesheet"><a href="#adapting_the_stylesheet" class="header-anchor">Adapting the stylesheet</a></h3>
<p>By now the page looks pretty bad:</p>
<p><img src="/assets/jemdoc/jemdoc2.png" alt="" /></p>
<p>the content is not centred in its box and overflows on the right, the menu looks ridiculous, time to do some CSS styling&#33;</p>
<p>Let&#39;s start by removing everything from <code>_css/jemdoc.css</code>. Most of what&#39;s in there was used for the styling of the top navbar which we don&#39;t have anymore &#40;note that the styling of the content itself is in <code>franklin.css</code>, don&#39;t change that for now; note also that <code>jemdoc.css</code> is loaded <em>after</em> <code>franklin.css</code> so that you can overwrite the styles there&#41;.</p>
<p>Let&#39;s now just copy-paste the content of the <a href="http://jemdoc.jaboc.net/jemdoc.css">two</a> <a href="http://jemdoc.jaboc.net/jacob.css">original</a> stylesheets into ours and hope for the best, we may have some fine-tuning to do after this.</p>
<p>Doing nothing else than copy-pasting already helps a lot:</p>
<p><img src="/assets/jemdoc/jemdoc3.png" alt="" /></p>
<p>A few things should be fixed:</p>
<div class="tlist"><ol>
<li><p>there&#39;s too little space at the top</p>
</li>
<li><p>the menu is a bit too narrow and there&#39;s a bit too much space between the menu and the content</p>
</li>
<li><p>there&#39;s not enough space after <code>&lt;pre&gt;</code> blocks</p>
</li>
</ol></div>
<h4 id="fixing_spacing"><a href="#fixing_spacing" class="header-anchor">Fixing spacing</a></h4>
<p>Firefox or Chrome/ium&#39;s excellent dev-tools are super helpful to fine-tune stylesheets. Here things are pretty straightforward though.</p>
<p>First, we need to add vertical padding above <code>&lt;h1&gt;</code> level title:</p>
<pre><code class="language-css">h1 &#123; padding-top: 2em; &#125;</code></pre>
<p>Then, let&#39;s widen the menu a little</p>
<pre><code class="language-css">td#layout-menu &#123;
  padding-left: 15px;
  padding-right: 25px;
&#125;</code></pre>
<p>and let&#39;s reduce the padding on the left of the <code>franklin-content</code> element:</p>
<pre><code class="language-css">.franklin-content &#123; padding-left: 5&#37;; &#125;</code></pre>
<p>Finally, in the original stylesheet there is this element:</p>
<pre><code class="language-css">pre &#123;
  padding: 0;
  margin: 0;
&#125;</code></pre>
<p>which you can just remove to have a bit more space around code blocks.</p>
<p>There are probably still things that could be done to improve the layout overall &#40;and make it more responsive&#33;&#41; but we&#39;ll leave it at that. </p>
<p><img src="/assets/jemdoc/jemdoc4.png" alt="" /></p>
<h3 id="adjusting_other_files"><a href="#adjusting_other_files" class="header-anchor">Adjusting other files</a></h3>
<p>Here we don&#39;t need to adjust anything else but, in general, you might want to adjust the other pages:</p>
<div class="tlist"><ul>
<li><p><code>head_highlight</code>, <code>head_katex</code>, <code>foot_highlight</code> and <code>foot_katex</code> are probably best left as they are, they will be appended if need be to pages &#40;see in <code>head</code> and <code>foot</code> the <code>&#123;&#123;if hasmath&#125;&#125;</code> and <code>&#123;&#123;if hascode&#125;&#125;</code> blocks&#41;</p>
</li>
<li><p><code>page_foot</code> you may want to change, it defines what goes at the bottom of the <code>.franklin-content</code> div.</p>
</li>
</ul></div>
<p>By default <code>page_foot</code> looks like</p>
<pre><code class="language-html">&lt;div class&#61;&quot;page-foot&quot;&gt;
  &lt;div class&#61;&quot;copyright&quot;&gt;
    &amp;copy; &#123;&#123; fill author &#125;&#125;. Last modified: &#123;&#123; fill fd_mtime &#125;&#125;. Website built with &lt;a href&#61;&quot;https://github.com/tlienart/Franklin.jl&quot;&gt;Franklin.jl&lt;/a&gt;.
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<p>It should be fairly straightforward to adapt that to your needs.</p>
<h2 id="making_a_pr_to_the_theme_repo"><a href="#making_a_pr_to_the_theme_repo" class="header-anchor">Making a PR to the theme repo</a></h2>
<p>Let&#39;s say you&#39;ve built your own template and are pretty happy with the result and you&#39;d like to share it with other users, great, thanks&#33;</p>
<p>Please follow <a href="https://github.com/tlienart/FranklinTemplates.jl#fixingadding-a-template">these instructions</a>.</p>
<div class="page-foot">
  <div class="copyright">
    &copy; Thibaut Lienart. Last modified: October 01, 2023. Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
  </div>
</div>
</div><!-- CONTENT ENDS HERE -->
    </div> <!-- end of class main-content -->
    </div> <!-- end of class main-content-wrap -->
    </div> <!-- end of class page-wrap-->
    
    
      <script src="/libs/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();hljs.configure({tabReplace: '    '});</script>

    
  </body>
</html>
