body {
    font-family: Helvetica;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    color: #363636;
}

article {
    margin-left: 16em;
}

@media only screen and (max-width:768px) {
    article {
        margin-left: 0;
        padding: 3em, 0.9em, 0, 0.9em;
        overflow-wrap: break-word;
    }
}

nav.toc {
    width: 15em;
}

nav.toc ul li ul li.current ul.internal li a.toctext:before {
    content:"• ";
}

pre > code.language-judoc {
    color: #3030c9;
}

blockquote {
    background-color: #e6f9f2;
    font-style: italic;
    border-left: 5px solid cadetblue;
    padding-left: 5px;
}
blockquote p {
    padding-top: 7px;
    padding-bottom: 5px;
}

.admonition.important > .admonition-title {
    visibility: hidden;
    height: 0;
}

.admonition.important {
    background-color: lemonchiffon;
}

[href^="http"]:not([href*="github.com/tlienart/JuDoc.jl"]) {
    color: #134293;
    text-decoration: underline;
}
